body { background: #63723; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 15px; display: flex; }
.block-cluster-0 { color: #19cf39; font-size: 17px; margin-bottom: 5px; }
.block-notify-1 { color: #6cce9f; font-size: 21px; margin-bottom: 5px; }
.block-email-2 { color: #af192c; font-size: 20px; margin-bottom: 5px; }
.block-cluster-3 { color: #37286a; font-size: 18px; margin-bottom: 5px; }
.block-product-4 { color: #aaab0b; font-size: 17px; margin-bottom: 5px; }